.printIgnore {
  display: flex;
}

#main {
  width: 100vw; 
  height: 100vh
}

.numbersLeft{
  background-color: grey;
}

.noNumbersLeft{
  background-color: green;
}


@media print {
  #main{
    width: 24cm;
  }
  .printIgnore {
    display: none;
  }
}

@page {
  margin: 1cm;
}