.printIgnore {
  display: flex;
}

#main {
  width: 100vw;
  height: 100vh;
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: space-around; 
  font-size: 4vmin;
}

#board {
  display: flex;
  flex-direction: column;
  width: min(33vw, 100vh);
  height: min(33vw, 100vh);
}
.field {
  font-size: min(2vw, 6vh);
  display: flex;
  justify-content: center;
  align-items: center;
  height: min(4vw, 11vh);
  width: min(4vw, 11vh);
}

.button {
  border: 0.1vmin solid black; 
  padding: 0.5vmin 4.5vmin 0.5vmin 4.5vmin;
}

.numbersLeft, .noNumbersLeft {
  width: 7.5vmin; 
  height: 7.5vmin; 
  padding: 1vmin; 
  margin: 0.5vmin;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.numbersLeft {
  background-color: grey;
}

.noNumbersLeft {
  background-color: green;
}

@media print {
  #main {
    width: 24cm;
  }
  .printIgnore {
    display: none;
  }
}

@page {
  margin: 1cm;
}